{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 250,
    "tabWidth": 4,
    "useTabs": false,
    "singleAttributePerLine": false,
    "bracketSameLine": true,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "singleAttributePerLine": false,
                "htmlWhitespaceSensitivity": "strict",
                "bracketSameLine": true
            }
        }
    ]
}
